section {
  width: 60vw;
  margin: auto;
  margin-top: 7vw;
}
h2 {
  font-size: clamp(16px, 2.5vw, 30px);
  font-weight: 400;
  margin-bottom: clamp(33px, 3vw, 44px);
}
.container-imgPlus {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: clamp(19px, 3vw, 27px);
}
.img-plus {
  flex-basis: 30%;
}
img {
  width: 100%;
}

@media (max-width: 414px) {
  section {
    width: 80vw;
    margin-top: 18.48vw;
  }
  .img-plus {
    flex-basis: 100%;
  }
}
